.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Cantata One', serif;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid black;
  background-color: rgba(118, 255, 25, 1);
}

#site-title {
  margin: 0;
  font-size: 2rem;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2px;
}

#content-btn-section {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3vh 0 5vh;
}

.content-btn {
  width: 150px;
  padding: 5px;
  margin: 0 10px;
  font-size: 1rem;
  background-color: #FF7F50;
  color: white;
}

.chordEntryArea {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chordEntryDiv {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 1.8rem;
  margin: 0 10px;
}

input.note {
  font-size: 1.8rem;
  width: 50px;
  text-align: center;
  border-style: solid;
}
