body {
  background-color: rgba(239, 201, 90, 1);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Cantata One', serif;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
  background-color: rgba(239, 201, 90, 1);
}

#site-title {
  margin: 0;
  font-size: 2rem;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2px;
}

h1 > span {
  margin: 0 10px
}

#help-btn {
  font-size: 1.5rem;
  padding: 5px 13px;
  text-align: center;
  border-radius: 50%;
}

#help-btn:hover {
  opacity: .75;
}

#help-btn:active {
  color: #fff;
  background-color: rgba(0,0,0, 1);
}

.help-window-show {
  width: 80vw;
  height: auto;
  position: absolute;
  top: 25%;
  left: 7%; /* On screen */
  z-index: 1;
  padding: 10px 0 30px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 6px black;
  transition: left .5s;
}

.help-window-hide {
  width: 80vw;
  height: auto;
  position: absolute;
  top: 25%;
  left: 102%; /* Off screen left */
  z-index: 1;
  padding: 10px 0 30px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 6px black;
  transition: left .5s;
}

#close-modal-icon {
  font-size: 1.2rem;
  position: absolute;
  left: 90%;
  text-align: center;
}

#close-modal-icon:active {
  font-size: 1.1rem;
}

section > p {
  margin-bottom: 0;
}

.chord-note-list-helpMenu {
  padding: 0 9vw;
}
.chord-note-list-helpMenu > li {
    line-height: 1.5;
}

.help-window-note-examples {
  font-size: 1.1rem;
  color: #053ff1;
  font-weight: bold;
}

.help-window-text {
  font-size: 1.1rem;
  color: #eb1919;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#piano-image {
  width: 55vw;
}

#help-img-caption {
  color: red;
  margin-top: 5px;
  text-align: center;
}

#content-btn-section {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2vh 0 3vh;
  margin-bottom: 5%;
}

.content-btn {
  width: 106px;
  padding: 6px 9px 8px;
  margin: 1px 7px;
  border-radius: 25px;
  font-size: 1.1rem;
  background-color: #000;
  color: #eac85e;
  border: none;
}

.content-btn:active {
  background-color: #f1f2f2;
  color: #000;
}

.noteInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.chordEntryArea {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chordEntryDiv {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3vh;
}

.tab-outline {
  outline-color: #000;
  outline-offset: 3px;
}

label {
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  padding: 7px 10px 7px 7px;
  letter-spacing: -1px;
  box-shadow: 0 1px 2px black;
  background-color: #f1f2f2;
}

label:hover {
  opacity: .75;
}

label:active {
  box-shadow: 0 0 1px black;
}

input.note {
  font-size: 1.8rem;
  width: 55px;
  padding: 5px;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .15);
}


input::placeholder {
  position: relative;
  bottom: 5px;
  font-size: .9rem;
  color: #9e9e9e;
}

.green {
  background-color: #8ba532; /*green*/
  color: #FFF;
}

.red {
  background-color: #e06a6a; /*red*/
  color: #FFF;
}

.Db-enharm {
  background-color: #AD34BC; /*purple*/
  color: #FFF;
}

.Gb-enharm {
  background-color: #1D36A2; /*blue*/
  color: #FFF;
}

.Ab-enharm {
  background-color: #A2852D; /*brownish*/
  color: #FFF;
}

/*====================
    MEDIA QUERIES
====================*/

@media (min-width: 768px) {
  .chordEntryDiv {
    width: 60vw;
    justify-content: space-between;
  }

  #content-btn-section {
    width: 60vw;
    height: 7vh;
  }

  .content-btn {
    margin: 5px 7px;
  }
}
