.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Cantata One', serif;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid black;
  background-color: rgba(118, 255, 25, 1);
}

#site-title {
  margin: 0;
  font-size: 2rem;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2px;
}

#content-btn-section {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2vh 0 3vh;
}

.content-btn {
  width: 100px;
  padding: 5px;
  margin: 0 10px;
  font-size: 1rem;
  background-color: #FF7F50;
  color: white;
}

.noteInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.chordEntryArea {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chordEntryDiv {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3vh;
}

label {
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  padding: 7px;
  box-shadow: 0 0 3px 1px black;
}

label:active {
  box-shadow: 0 0 1px black;
}

input.note {
  font-size: 1.8rem;
  width: 55px;
  padding: 5px;
  text-align: center;
  border-style: solid;
}

input::placeholder {
  position: relative;
  bottom: 3px;
  font-size: .9rem;
  color: #ddd;
}

.green {
  border-color: rgba(86, 208, 3, 1); /*green*/
}

.red {
  border-color: #FF7F50; /*red*/
}
